*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
img{ width: 100%; height: 300px; }
header{
    position: fixed;
    width:95% ;
    z-index:100 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{font-size:30px ;
    text-transform:uppercase ;

}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding:6px 15px;
    border-radius: 20px;
}
header ul li a:hover,.active{
    background: #fff;
    color:#200016 ;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width:100%;
    background: linear-gradient(to top, #200016, transparent);
}
.main img{
    position: absolute;
    width:100% ;
    height:100vh ;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
     transform: translateY(-1px);
}
.ABDELKARIM{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-200px);
}
.content{
    color: #fff;
    padding: 30px;
}
.h2{
   margin: 20px;
   font-size: 30px;
}
.content p{
    margin:20px ;
}
.button{
    padding:10px 20px ;
    background: #fff;
    color:#200016 ;
    border:none ;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
}
.button:hover{
    background: transparent;
    color:#fff ;
    border:2px solid #fff ;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #200016;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #200016, #cbb4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #200016, #cbb4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
